{% extends "base.html" %}
{% block content %}

<div class="dashboard-container">
    <div class="dashboard-card">

        <h3>Interview for {{ candidate.name }}</h3>

        <form method="POST">

            {% for skill, question in questions %}
                <div class="mb-4">
                    <label class="form-label">
                        {{ question }}
                    </label>
                    <textarea
                        name="{{ skill }}"
                        class="form-control"
                        rows="3"
                        required>
                    </textarea>
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary">
                Submit Interview
            </button>

        </form>

    </div>
</div>

{% endblock %}